.Navbar{
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    background: var(--heroui-default-900, #000);
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}