/* .content{
    height: 400px;
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */


/* .MonadTab{
    width: 100%;
} */

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 40px; /* Optional: Adds space between the buttons */
}
